{% extends 'base.html' %}


{% block title %}Pictures{% endblock %}

{% block content %}
    <div class="container" style="max-width: 800px">
        <div class="jumbotron">
            <div class="row">
                {% for pic in pictures %}
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="https://s-media-cache-ak0.pinimg.com/originals/58/50/77/585077f705e1e1e6385940fee0e6a4d7.jpg">
                            <div class="caption">
                                <p>{{ pic.text }}</p>
                                {% if pic.price %}
                                <p>Цена: {{ pic.price }} рублей</p>
                                {% else %}
                                    <p>Цена: договорная</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
       </div>
    </div>
{% endblock %}
